.menu{
    font-size: 30px;
    font-family: 'Silkscreen', cursive;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 0px;
    background-color: #00416A;
    position: fixed;
    z-index: 10;

}
.menu .titulo{
        margin-left: 50px;
        font-size: 30px;

}


.menu .titulo a{
    color: whitesmoke;
    font-family: 'Silkscreen', cursive;
    text-decoration: none;

}

.menu .titulo a:hover{
    transition: 0.5s;
    color:#9E9C2B;

}


.seg {
    display: flex;
    margin-left: 600px;
}

.seg a{
  text-decoration: none;
  position: relative; 
  margin: 0px 15px 0px 15px;
  padding: 10px;
  display: block;
  width: auto;
  height: 45px;
  align-items: center;  
  line-height: 63px;
  background: #00416A;
  border-radius: 10%;
  font-size: 25px;
  color: whitesmoke;
  transition: .5s;
}

.seg a:hover{
  transition: 0.9s;
  color: #9E9C2B;

}



/* ----------MEDIA QUERIES ----------*/

@media only screen and (max-width: 320px){
  .menu {
    display:grid;
    align-items: center;
  }
  
  
  .menu .titulo a{
    font-size: 30%;
    position: absolute;
    margin-left: -35px;
    margin-top: -10px;

  }

  .menu .seg {
    position: absolute;
    margin-left: 35%;
    display: flex;

  }
  .menu .seg a{
    font-size: 13%;
    background-color: transparent;
    margin-top: -10px;

  }

}
@media only screen and (min-width: 320px){
  .menu {
    display:grid;
    align-items: center;
  }
  
  
  .menu .titulo a{
    font-size: 40%;
    position: absolute;
    margin-left: -35px;
    margin-top: -10px;

  }

  .menu .seg {
    position: absolute;
    margin-left: 35%;
    display: flex;

  }
  .menu .seg a{
    font-size: 16%;
    background-color: transparent;
    margin-top: -10px;

  }

}

@media only screen and (min-width: 347px){
  .menu {
    display:grid;
    align-items: center;
  }
  
  
  .menu .titulo a{
    font-size: 40%;
    position: absolute;
    margin-left: -35px;
    margin-top: -10px;

  }

  .menu .seg {
    position: absolute;
    margin-left: 30%;
    display: flex;

  }
  .menu .seg a{
    font-size: 25%;
    background-color: transparent;
    margin-top: -10px;

  }

}

@media only screen and (min-width:600px){
  .menu {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  
  
  .menu .titulo a{
    font-size: 16px;
    position: absolute;
    margin-left: -35px;
    margin-top: -10px;

  }

  .menu .seg {
    position: absolute;
    margin-left: 45%;
    display: flex;

  }
  .menu .seg a{
    font-size: 40%;
    background-color: transparent;
    margin-top: -10px;

  }

}


@media only screen and (min-width:768px){
  .menu {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  
  
  .menu .titulo a{
    font-size: 60%;
    position: absolute;
    margin-left: -35px;
    margin-top: -10px;

  }

  .menu .seg {
    position: absolute;
    margin-left: 55%;
    display: flex;

  }
  .menu .seg a{
    font-size: 45%;
    background-color: transparent;
    margin-top: -10px;

  }

}


@media only screen and (min-width:992px){
  .menu {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  
  
  .menu .titulo a{
    font-size: 80%;
    position: absolute;
    margin-left: -35px;
    margin-top: -15px;

  }

  .menu .seg {
    position: absolute;
    margin-left: 55%;
    display: flex;

  }
  .menu .seg a{
    font-size: 70%;
    background-color: transparent;
    margin-top: -10px;

  }

}



@media only screen and (min-width:1200px){
  .menu {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  
  
  .menu .titulo a{
    font-size: 85%;
    position: absolute;
    margin-left: -35px;
    margin-top: -15px;

  }

  .menu .seg {
    position: absolute;
    margin-left: 65%;
    display: flex;

  }
  .menu .seg a{
    font-size: 70%;
    background-color: transparent;
    margin-top: -10px;

  }

}

/* ESTO ES OPCIONAL, ES OTRO ESTILO

.seg a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background: #11111F;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.seg a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 3px #73E2E6;
  }

  .seg a:hover {
    color: whitesmoke;
    box-shadow: 0 0 3px #73E2E6;
    text-shadow: 0 0 3px #73E2E6;
  }

  */