
.main{
  background-color:#a317d2 ;
}

.main .fondo{
    width: 100%;
    height: 100%;
    margin-top: 70px;
    position: absolute;
  }

  .main .fondo .programming{
    line-height: .7;
    margin-left: 35%;
    margin-top: 20px;
    font-size: 3rem;
  }

  .main .fondo .programming .r{
    color: rgb(0, 0, 0);
  }

  .main .fondo .programming .o{
    color: rgb(255, 255, 255);
  }

  .main .fondo .DA{
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-left: 200px;
    position: absolute;
    display: grid;
  
  }

  .main .DA .titulo{
    color: #ffffff;
    margin-left: 10px;
  }
  
  .main .fondo .DA ul{
    list-style: none;
    justify-content: center;
    color: #ffffff;

  }

  .main .fondo .DA-2{
    width: auto;
    height: auto;
    margin-top: 130px;
    margin-left: 800px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: azure;
    position: absolute;

  }
  .main .fondo .DA-2 .titulo{
    margin-left: 250px;
  }

  .main .fondo  .DA-2 img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 280px ;
  }

  .main .fondo .DA ul{
    list-style:circle;
  }

  .main .fondo .DA-2 ul{
    list-style:circle;
    margin-left:100px
  }

  .main .fondo  .DA img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 180px ;
  }

  